@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');*


*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;

}

.carte{
    background-color: red;
    width: 350px;
   
}
.carte-image{
    width: 100%;
    border-radius: 30px;
     

}

.marge{

    margin-top: 20px;
}




    
   
    
    
    
   
   
    
